<a href="https://colab.research.google.com/github/kvneswar/PythonForDSAndMLBootcamp/blob/main/05_2_GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#It allows us to group together rows based off a column and perform an aggregate function

import numpy as np
import pandas as pd

data = {'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'], 
        'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
        'Sales': [200, 120, 340, 124, 243, 350],
        'Profit': [100, 150, 200, 250, 300, 350]}

df = pd.DataFrame(data)

print(df)

dComp = df.groupby('Company')

print(dComp.sum())
print(dComp.mean())
print(dComp.std())
print(dComp.max())
print(dComp.min())
print(dComp.describe())
print(dComp.describe().transpose())

  Company   Person  Sales  Profit
0    GOOG      Sam    200     100
1    GOOG  Charlie    120     150
2    MSFT      Amy    340     200
3    MSFT  Vanessa    124     250
4      FB     Carl    243     300
5      FB    Sarah    350     350
         Sales  Profit
Company
FB         593     650
GOOG       320     250
MSFT       464     450
         Sales  Profit
Company
FB       296.5   325.0
GOOG     160.0   125.0
MSFT     232.0   225.0
              Sales     Profit
Company
FB        75.660426  35.355339
GOOG      56.568542  35.355339
MSFT     152.735065  35.355339
          Person  Sales  Profit
Company
FB         Sarah    350     350
GOOG         Sam    200     150
MSFT     Vanessa    340     250
          Person  Sales  Profit
Company
FB          Carl    243     300
GOOG     Charlie    120     100
MSFT         Amy    124     200
        Sales                                                         Profit  \
        count   mean         std    min     25%    50%     75%    max  count
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0    2.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0    2.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0    2.0


          mean        std    min    25%    50%    75%    max
Company
FB       325.0  35.355339  300.0  312.5  325.0  337.5  350.0
GOOG     125.0  35.355339  100.0  112.5  125.0  137.5  150.0
MSFT     225.0  35.355339  200.0  212.5  225.0  237.5  250.0
Company               FB        GOOG        MSFT
Sales  count    2.000000    2.000000    2.000000
       mean   296.500000  160.000000  232.000000
       std     75.660426   56.568542  152.735065
       min    243.000000  120.000000  124.000000
       25%    269.750000  140.000000  178.000000
       50%    296.500000  160.000000  232.000000
       75%    323.250000  180.000000  286.000000
       max    350.000000  200.000000  340.000000
Profit count    2.000000    2.000000    2.000000
       mean   325.000000  125.000000  225.000000
       std     35.355339   35.355339   35.355339
       min    300.000000  100.000000  200.000000
       25%    312.500000  112.500000  212.500000
       50%    325.000000  125.000000  225.000000
       75%    337.500000  137.500000  237.500000
       max    350.000000  150.000000  250.000000

<ipython-input-13-b40f1a830e51>:17: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(dComp.sum())
<ipython-input-13-b40f1a830e51>:18: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(dComp.mean())
<ipython-input-13-b40f1a830e51>:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(dComp.std())