<a href="https://colab.research.google.com/github/kvneswar/PythonForDSAndMLBootcamp/blob/main/05_4_Merge_Joining_Concatinating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3']},
                    index = [0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7']},
                    index = [4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11']},
                    index = [8, 9, 10, 11])

print(pd.concat([df1, df2, df3]))

print(pd.concat([df1, df2, df3], axis=1))

      A    B    C
0    A0   B0   C0
1    A1   B1   C1
2    A2   B2   C2
3    A3   B3   C3
4    A4   B4   C4
5    A5   B5   C5
6    A6   B6   C6
7    A7   B7   C7
8    A8   B8   C8
9    A9   B9   C9
10  A10  B10  C10
11  A11  B11  C11
      A    B    C    A    B    C    A    B    C
0    A0   B0   C0  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN   A4   B4   C4  NaN  NaN  NaN
5   NaN  NaN  NaN   A5   B5   C5  NaN  NaN  NaN
6   NaN  NaN  NaN   A6   B6   C6  NaN  NaN  NaN
7   NaN  NaN  NaN   A7   B7   C7  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8
9   NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9
10  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10
11  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11

In [7]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})

print(pd.merge(left, right, how='inner', on='key'))

#it supports all different joins same as SQL joins

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3