<a href="https://colab.research.google.com/github/kvneswar/PythonForDSAndMLBootcamp/blob/main/05_Pandas_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import numpy as np
import pandas as pd

In [37]:
lables = ['a', 'b', 'c']

my_data = [10, 20, 30]

arr = np.array(my_data)

d = {'a': 10, 'b': 20, 'c':30}

Series

In [38]:
print(pd.Series(data = my_data))

print(pd.Series(data = my_data, index=lables))

print(pd.Series(data = arr, index=lables))

print(pd.Series(d))

0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64
a    10
b    20
c    30
dtype: int64

In [39]:
ser1 = pd.Series([1, 2, 3], ['India', 'USA', 'China'])
ser2 = pd.Series([1, 2, 4], ['India', 'USA', 'Italy'])

print(ser1)

print(ser1['India'])

#Performs the mathematical operations based on the index, if the common index not found then null/Nan will be returned
print(ser1 + ser2)
print(ser1 - ser2)

India    1
USA      2
China    3
dtype: int64
1
China    NaN
India    2.0
Italy    NaN
USA      4.0
dtype: float64
China    NaN
India    0.0
Italy    NaN
USA      0.0
dtype: float64

Data Frames

In [40]:
dataFrame1 = pd.DataFrame([['John', 20], ['Jane', 25], ['Mike', 30], ['Emily', 35]])

print(dataFrame1)

dataFrame1_1 = pd.DataFrame(data = [['John', 20], ['Jane', 25], ['Mike', 30], ['Emily', 35]], 
                            index = ['Person1', 'Person2', 'Person3', 'Person4'], 
                            columns = ['Name', 'Age'])

print(dataFrame1_1)

dataFrame2 = pd.DataFrame({'Name': ['John', 'Jane', 'Mike', 'Emily'], 
                           'age': [20, 25, 30, 35],
                           'city': ['NewYork', 'London', 'Paris', 'Sydney']})
print(dataFrame2)

dataFrame3 = pd.DataFrame({'Name': ['John', 'Jane', 'Mike', 'Emily'], 
                           'age': [20, 25, 30, 35],
                           'city': ['NewYork', 'London', 'Paris', 'Sydney']},
                          ['person1', 'person2', 'person3', 'person4'])
print(dataFrame3)

#Each column in a data frame is SERIES

print(type(dataFrame3['Name']))
print(dataFrame3['Name']['person1'])

print(dataFrame3[['Name', 'age']])

       0   1
0   John  20
1   Jane  25
2   Mike  30
3  Emily  35
          Name  Age
Person1   John   20
Person2   Jane   25
Person3   Mike   30
Person4  Emily   35
    Name  age     city
0   John   20  NewYork
1   Jane   25   London
2   Mike   30    Paris
3  Emily   35   Sydney
          Name  age     city
person1   John   20  NewYork
person2   Jane   25   London
person3   Mike   30    Paris
person4  Emily   35   Sydney
<class 'pandas.core.series.Series'>
John
          Name  age
person1   John   20
person2   Jane   25
person3   Mike   30
person4  Emily   35

In [41]:
dataFrame3['newColumn'] = dataFrame3['age'] + dataFrame3['age']

print(dataFrame3)

dataFrame3 = dataFrame3.drop('newColumn', axis = 1) #set inPlace=true to update the data structure

print(dataFrame3)

#drop a row

dataFrame3.drop('person4', axis=0, inplace=True)

print(dataFrame3)

#to get the dimensions of the array

print(dataFrame3.shape)

          Name  age     city  newColumn
person1   John   20  NewYork         40
person2   Jane   25   London         50
person3   Mike   30    Paris         60
person4  Emily   35   Sydney         70
          Name  age     city
person1   John   20  NewYork
person2   Jane   25   London
person3   Mike   30    Paris
person4  Emily   35   Sydney
         Name  age     city
person1  John   20  NewYork
person2  Jane   25   London
person3  Mike   30    Paris
(3, 3)

In [42]:
print(dataFrame3.loc['person1']) #returns the series
print(dataFrame3.iloc[0]) #returns the series based on the location
print(dataFrame3.loc['person1', 'Name']) #to return a specific value based on the position
print(dataFrame3.loc[['person1', 'person2'], ['Name', 'age']]) #to return a specific value based on the position

Name       John
age          20
city    NewYork
Name: person1, dtype: object
Name       John
age          20
city    NewYork
Name: person1, dtype: object
John
         Name  age
person1  John   20
person2  Jane   25

In [43]:
#part 2

from numpy.random import rand

np.random.seed(101)

dataFrame4 = pd.DataFrame(rand(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

print(dataFrame4)

print(dataFrame4 > .2)

dataFrame4Bol = dataFrame4 > 0.2

print(dataFrame4[dataFrame4Bol]) # if it's false then Nan is getting resulted

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239
       W      X      Y      Z
A   True   True  False  False
B   True   True   True   True
C   True  False   True   True
D  False   True   True   True
E  False   True   True   True
          W         X         Y         Z
A  0.516399  0.570668       NaN       NaN
B  0.685277  0.833897  0.306966  0.893613
C  0.721544       NaN  0.554228  0.352132
D       NaN  0.785602  0.965483  0.232354
E       NaN  0.603548  0.728993  0.276239

In [44]:
#RESET the INDEX

print(dataFrame4.reset_index()) #looks like it's similar rownum

#check set_index

  index         W         X         Y         Z
0     A  0.516399  0.570668  0.028474  0.171522
1     B  0.685277  0.833897  0.306966  0.893613
2     C  0.721544  0.189939  0.554228  0.352132
3     D  0.181892  0.785602  0.965483  0.232354
4     E  0.083561  0.603548  0.728993  0.276239

In [45]:
#part 3

outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

inside = [1, 2, 3, 1, 2, 3]

hier_index = list(zip(outside, inside))

print(hier_index)

hier_index = pd.MultiIndex.from_tuples(hier_index)

print(hier_index)

#df = pd.MultiIndex(rand(6, 2), hier_index, ['A', 'B'])

#explore df.xs

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

ValueError: ignored