<a href="https://colab.research.google.com/github/kvneswar/PythonForDSAndMLBootcamp/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String


1.   We can user signgle quote or double quotes

In [ ]:
str = 'Hello, World!'

str

'Hello, World!'

In [ ]:
str = "Hello, again"

print(str)

#see the difference b/w this one and the above one

Hello, again

In [ ]:
str = "It's me"

str

"It's me"

In [ ]:
print('My name is {}'.format('Eswar'))

My name is Eswar

In [ ]:
print('My name is {firstName}, {lastname}'.format(firstName = 'Eswar', lastname = 'Karumuri'))

My name is Eswar, Karumuri

In [ ]:
str = 'Hello'

print(str[0])
print(str[0:])
print(str[0:-2])
print(str[3:-1])
print(str[:-1])

H
Hello
Hel
l
Hell

In [ ]:
my_list = [1, 2, 3]

print(my_list)
print(my_list[0 : 1])
print(my_list[ : -1])

my_list[0] = 'X'

print(my_list)

my_list.append(4) # add to a list

print(my_list)

[1, 2, 3]
[1]
[1, 2]
['X', 2, 3]
['X', 2, 3, 4]

In [ ]:
nested_list = [1, 2, [3, 4]]

print(nested_list[2][0])

3

In [ ]:
dictionary = {'key1': 'val1', 'key2': [1, 2, 3]}

print(dictionary['key1'])

print(dictionary['key1'][0])
print(dictionary['key2'][0])

val1
v
1

In [ ]:
tuple = (1, 2, 3)

print(tuple)

print(tuple[0])
print(tuple[:-1])

#tuple[0] = 4 TUPLE is immutable

(1, 2, 3)
1
(1, 2)

In [ ]:
set = {1, 2, 2, 3}

print(set)

set.add(4)

print(set)

{1, 2, 3}
{1, 2, 3, 4}

In [ ]:
if(1 == 1):
  print('True')
elif(1 != 1):
  print("False")
else:
  print('False')

True

In [ ]:
my_list = [1, 2, 3]

for item in my_list:
  print(item)

counter = 0

while counter < 3:
  print(my_list[counter])

  counter += 1

1
2
3
1
2
3

In [4]:
for item in range(0, 10):
  print(item)

print(range(0, 10))

print(list(range(0, 10)))

0
1
2
3
4
5
6
7
8
9
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#set the elements in the list

input = [0, 1, 2, 3]

output = []

for item in input:
  output.append(item)

print(output)

print([item for item in input])

output = [item for item in input]

print(output)

[0, 1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3]